@charset "utf-8";
html, body {
	direction: rtl;
	text-align: right;
}
body {
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
h1 {
	font-size: 52px;
}
h2 {
	font-size: 42px;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 32px;
}
h5 {
	font-size: 26px;
}
h6 {
	font-size: 20px;
}
.homepage-slides-wrapper, .upcoming-causes, .volunteer-section, .testimonial, .input-group, .news-carousel, .header-login-link {
	direction: ltr;
}
.single-slide-item, .causes-item, .news-item {
	direction: rtl;
}
.main-btn, .header-button a, .news-date-holder span {
	font-size: 18px;
}
.news-status ul li i {
	margin-right: 0px;
	margin-left: 5px;
}
.news-contact-block {
	border-left-width: 0px;
	border-right-width: 5px;
	padding-right: 15px;
	padding-left: 0px;
}
.news-contact-block ul li {
	padding-right: 0px;
}
.news-contact-map {
	margin-left: 0px;
	margin-right: auto;
}
.address-block ul li {
	padding-left: 0px;
	padding-right: 40px;
}
.address-block ul li::before {
	left: inherit;
	right: 0px;
}
.social-block {
	border-left-width: 1px;
	border-right-width: 0px;
}
.counter-icon {
	margin-right: 0px;
	margin-left: 10px;
}
.footer-bottom-area .text-right {
	text-align: left !important;
}
.mainmenu {
	margin-left: 0px;
	margin-right: auto;
}
.mainmenu ul li a {
	font-size: 18px;
	text-align: right;
}
.mainmenu > ul > li > a:before {
	left: inherit;
	right: 12px;
}
.mainmenu > ul > li:last-child > ul, .mainmenu > ul > li:nth-last-child(2) > ul {
	right: inherit;
	left: 0px;
}
.mainmenu > ul > li:last-child > ul li ul, .mainmenu > ul > li:nth-last-child(2) > ul li ul {
	right: inherit;
	left: 100%;
}
.featured-fund-right {
	padding: 30px 60px 30px 30px;
}
.featured-fund-raise {
	margin-left: 0px;
	margin-right: -15px;
}
.raise-total span:last-child {
	margin-right: auto;
	margin-left: 0px;
}
.show-raised-percent span {
	right: inherit;
	left: -12px;
}
h2.title-bottom-border:before, h3.title-bottom-border:before {
	right: 0px;
	left: inherit;
}
.how-we-work {
	background-position: left top;
}
.video-block {
	left: -100px;
	right: inherit;
}
.news-sec:after {
	right: inherit;
	left: 0px;
}
.header-login-link ul li .dropdown-menu {
	right: inherit !important;
	left: 0px !important;
}
.comment-group h6 span {
	float: left;
}
.comment-group, .reply-comment {
	padding-right: 120px;
	padding-left: 0px;
}
.comment-img {
	left: inherit;
	right: 0px;
}
.causes-right .featured-fund-raise {
	margin-right: 15px;
	margin-left: 0px;
}
.donor-ount a.share-btn {
	margin-right: auto;
	margin-left: 0px;
}
.donation-amount > div:last-child {
	margin-left: 0px;
	margin-right: auto;
}
span.error1 {
	right: inherit;
	left: 5px;
}

@media (min-width: 992px) {
.offset-lg-1 {
	margin-left: 0px;
	margin-right: 8.333333%
}
.offset-lg-3 {
	margin-left: 0px;
	margin-right: 25%
}
}

@media only screen and (max-width: 991px) {
.mobile-menu-wrapper {
	padding-left: 0px;
	padding-right: 15px;
}
.header-login-link {
	margin-left: 0px;
	margin-right: auto;
}
.slicknav_nav {
	left: 0px;
	right: inherit;
}
}

@media only screen and (max-width: 580px) {
.video-block {
	left: 30px;
}
.slicknav_nav {
	left: inherit;
	right: 0px;
}
.comment-group, .reply-comment {
	padding-right: 0px;
}
}
